@import "fonts.css";
@import "fonts.css";
:root {
  --font-family: "Source Sans Pro";
  --primary-color: #284181;
  --secondary-color: #00bfdf;
  --secondary-light-color: #6ecfe0;
  --active-btn: #f79433;
  --text-color: #5a5a5a;
  --yellow-color: #fdb913;
  --background-color: #f4f4f4;
  --font-color: #5a5a5a;
  --background: no-repeat cover center;
  --custom-container-left: 120px;
  --title-margin-bottom: 50px;
  --common-space: 30px;
  --banner-size: 740px;
  --font-size-twenty-four: 24px;
  --font-weight-six: 600;
  --line-heigh-thirty: 30px;
  --border-radius:8px;
}

.inner-banner-section {
  background: url("../images/contact-us-banner.jpg");
  background-size: cover;
}

.Contact-us-form-section p {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 35px;
}
.Contact-us-form-section .inner-box {
  display: flex;
  gap: 80px;
}
.Contact-us-form-section .inner-box .form .form-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.Contact-us-form-section .inner-box .right-box img {
  border-radius: 6px;
}

.form-group label {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #5a5a5a;
  margin-bottom: 10px;
}
.form-group label span {
  color: #ff0000;
}
.form-group .form-control {
  border: 2px solid #e6e7e8;
  border-radius: 6px;
  height: 60px;
  width: 100%;
}
.form-group.textarea {
  margin: 30px auto;
}
.form-group.textarea .form-control {
  height: 150px;
}

.our-offices-section {
  background: #f4f4f4;
}
.our-offices-section .office {
  display: flex;
  width: 100%;
  gap: 50px;
}
.our-offices-section .box {
  display: flex;
  background: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}
.our-offices-section .box .office-address {
  padding: 30px;
  overflow: hidden;
}
.our-offices-section .box .office-img {
  position: relative;
}
.our-offices-section .box .office-img .map-img {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.our-offices-section .box .office-img img {
  transition: all 0.4s ease-out;
  height: 100%;
  width: 100%;
}
.our-offices-section .box .office-img:hover .pin {
  border-radius: 20%;
}
.our-offices-section .box .office-img:hover img {
  transform: scale(1.1);
}

.pin {
  width: 34px;
  height: 34px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 16px;
  top: 16px;
  text-align: center;
  padding: 2px 0;
  display: block;
  transition: all 0.3s ease-in-out;
}

.office-address h5 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: var(--primary-color);
  margin: 0 0 16px;
}
.office-address p {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #5a5a5a;
  margin: 0 0 30px;
}
.office-address address {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #5a5a5a;
}
.office-address ul li {
  margin-bottom: 16px;
}
.office-address ul li .text {
  font-size: 18px;
  line-height: 25px;
  color: #5a5a5a;
}
.office-address ul li .text:hover {
  color: var(--active-btn);
}
.office-address ul li span.text {
  color: var(--active-btn);
}

.all-branch-section .branch-location {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 30px;
}
.all-branch-section .branch-details {
  background: #f4f4f4;
  border-radius: 6px;
  position: relative;
}
.all-branch-section .branch-details .branch-inner {
  display: flex;
  padding: 20px;
  gap: 20px;
  width: 100%;
}
.all-branch-section .branch-details .branch-inner .branch-img img {
  border-radius: 6px;
}
.all-branch-section .branch-details .office-address h5 {
  font-size: 24px;
}
.all-branch-section .branch-details .office-address h5 img {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 10px;
}
.all-branch-section .branch-details .pin {
  top: -17px;
  background: var(--active-btn);
}
.all-branch-section .branch-details .pin svg {
  fill: #fff;
}
.all-branch-section .branch-details:hover .pin {
  top: -22px;
}

@media screen and (max-width: 1919px) {
  .Contact-us-form-section p {
    font-size: 22px;
    line-height: 32px;
  }
  .form-group label {
    font-size: 20px;
  }
  .office-address h5 {
    font-size: 28px;
  }
  .office-address ul li {
    margin-bottom: 10px;
  }
  .office-address p {
    font-size: 22px;
    line-height: normal;
    margin: 0 0 20px;
  }
  .our-offices-section .box .office-address {
    padding: 25px;
  }
}
@media screen and (max-width: 1599px) {
  .all-branch-section .branch-location {
    grid-template-columns: 1fr 1fr;
  }
  .Contact-us-form-section p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .Contact-us-form-section .inner-box {
    gap: 60px;
  }
  .Contact-us-form-section .inner-box .form .form-information {
    gap: 25px;
  }
  .form-group.textarea {
    margin: 25px auto;
  }
  .form-group .form-control {
    height: 52px;
  }
  .form-group label {
    font-size: 18px;
  }
  .our-offices-section .office {
    gap: 30px;
  }
  .our-offices-section .box .office-img .map-img {
    width: 250px;
  }
  .our-offices-section .box .office-address {
    padding: 20px;
  }
  .our-offices-section .box .office-address ul li .text.second-num {
    display: block;
    padding-left: 57px;
  }
  .office-address h5 {
    font-size: 24px;
    line-height: normal;
  }
  .all-branch-section .branch-details .office-address h5 {
    font-size: 22px;
  }
  .all-branch-section .branch-location {
    gap: 40px 25px;
  }
  .office-address p {
    margin-bottom: 10px;
  }
  .office-address h5 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1439px) {
  .Contact-us-form-section .inner-box .right-box img {
    height: 750px;
  }
}
@media screen and (max-width: 1365px) {
  .Contact-us-form-section {
    gap: 50px;
  }
  .Contact-us-form-section .inner-box .right-box img {
    height: 680px;
  }
  .form-group .form-control {
    height: 48px;
  }
  .form-group.textarea .form-control {
    height: 120px;
  }
  .office-address p {
    font-size: 20px;
  }
  .office-address h5 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1279px) {
  .Contact-us-form-section p {
    font-size: 16px;
    line-height: 22px;
  }
  .Contact-us-form-section .inner-box {
    gap: 40px;
  }
  .Contact-us-form-section .inner-box .form .form-information {
    gap: 15px;
  }
  .Contact-us-form-section .inner-box .right-box img {
    height: 610px;
  }
  .form-group .form-control {
    height: 42px;
  }
  .form-group label {
    font-size: 16px;
  }
  .form-group.textarea {
    margin: 15px auto;
  }
  .office-address h5 {
    font-size: 20px;
  }
  .office-address address {
    font-size: 16px;
  }
  .office-address ul li .text {
    font-size: 16px;
  }
  .office-address p {
    font-size: 18px;
  }
  .our-offices-section .office {
    gap: 20px;
  }
  .our-offices-section .box .office-img .map-img {
    width: 180px;
  }
  .our-offices-section .box .office-address ul li .text.second-num {
    display: block;
    padding-left: 51px;
  }
  .all-branch-section .branch-details .office-address h5 {
    font-size: 20px;
  }
  .all-branch-section .branch-details .office-address h5 img {
    vertical-align: top;
  }
}
@media screen and (max-width: 1023px) {
  .Contact-us-form-section .inner-box {
    display: block;
  }
  .Contact-us-form-section .inner-box .right-box img {
    height: 280px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 10px;
  }
  .form-group label {
    margin-bottom: 5px;
  }
  .form-group .form-control {
    height: 38px;
  }
  .form-group.textarea .form-control {
    height: 80px;
  }
  .our-offices-section .office {
    display: block;
  }
  .our-offices-section .box {
    margin-bottom: 15px;
  }
  .our-offices-section .box:last-of-type {
    margin-bottom: 0;
  }
  .our-offices-section .box .office-address ul li .text.second-num {
    display: inline-block;
    padding: 0;
  }
  .office-address h5 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .office-address p {
    margin-bottom: 5px;
  }
  .office-address ul li {
    margin-bottom: 5px;
  }
  .office-address address {
    margin-bottom: 5px;
  }
  .all-branch-section .branch-location {
    display: block;
  }
  .all-branch-section .branch-details {
    margin-bottom: 30px;
  }
  .all-branch-section .branch-details .branch-inner .branch-img img {
    height: 210px;
  }
}
@media screen and (max-width: 639px) {
  .inner-banner-section {
    background-position: right;
  }
  .Contact-us-form-section p {
    font-size: 14px;
    line-height: 18px;
  }
  .Contact-us-form-section .inner-box .right-box img {
    height: 200px;
  }
  .Contact-us-form-section .inner-box .form .form-information {
    display: block;
  }
  .Contact-us-form-section .inner-box .form .form-information .form-group {
    margin-bottom: 10px;
  }
  .form-group label {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 0;
  }
  .form-group.textarea {
    margin: 10px auto 15px;
  }
  .office-address h5 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .office-address p {
    font-size: 15px;
  }
  .office-address address {
    font-size: 14px;
    line-height: normal;
    margin-top: 10px;
  }
  .office-address ul li .text {
    font-size: 14px;
  }
  .all-branch-section .branch-details .office-address h5 {
    font-size: 16px;
  }
  .our-offices-section .box {
    display: block;
  }
  .our-offices-section .box .office-img .map-img {
    width: 100%;
    height: 140px;
  }
  .our-offices-section .box .office-img .map-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .our-offices-section .box .office-address {
    padding: 15px;
  }
  .all-branch-section .branch-details {
    margin-bottom: 15px;
  }
  .all-branch-section .branch-details .branch-inner {
    width: 100%;
    padding: 15px;
    display: block;
  }
  .all-branch-section .branch-details .branch-inner .branch-img {
    margin-bottom: 15px;
  }
  .all-branch-section .branch-details .branch-inner .branch-img img {
    height: 180px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .all-branch-section .branch-details .pin {
    top: 10px;
    right: 10px;
  }
  .all-branch-section .branch-details:hover .pin {
    top: 0;
  }
  .all-branch-section .branch-details .office-address h5 img {
    margin-top: -4px;
  }
}/*# sourceMappingURL=contact-us.css.map */